.subtitle {
  margin-bottom: 8rem;
  padding-top: 4rem;
}

.about {
  width: 70%;
  margin: 0 auto 4rem auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_left {
  width: 60%;
}

.about_left p {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.12em;
  color: var(--color-gray-darker);
  line-height: 2;
  margin-bottom: 4rem;
}

/* MEDIA QUERIES: */  
@media screen and (max-width: 768px) {
  .about {
    width: 100%;
    margin: 0;
  }
  
  .about_left {
    width: 90%;
    margin: auto;
  }
  
  .about_left p {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  
  .about_left a {
    margin-bottom: 4rem;
  }

  .about_right {
    display: none;
  }
}