.hero, 
.services-center, 
.professional_profile {
  width: 75%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_left-textbox {
  margin-bottom: 4rem;
}

.hero_left-textbox::before,
.hero_left-textbox::after {
  content: '';
  border-bottom: 2px solid #C4C4C4;
  width: 29rem;
  display: block;
}

.hero_left h1 .regular_text{
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2;
  text-transform: uppercase;
}

.hero_left h1 .black_text {
  font-weight: 900;
  font-size: 3.6rem;
  letter-spacing: 0.43em;
  text-transform: uppercase;
}

.hero_left h1 .yellow_text {
  color: rgba(227, 152, 33, 0.48);
  font-size: 3.6rem;
}

.book-btn {
  display: inline-block;
  width: 18rem;
  padding: .8rem;

  color: var(--color-yellow);
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.12em;
  text-transform: uppercase;

  border: 4px solid var(--color-yellow);

  transition: all .5s ease-in;
}

.book-btn:hover {
  color: #533608;
  border: 4px solid rgba(227, 152, 33, 0.48);;
}

.hero_right img {
  width: 110%;
}


/* CHAMADA SERVIÇOS: */ 
.services_home {
  background-color: var(--color-black);
  padding: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  top: -2px;
}

.services-center {
  background-color: var(--color-black);

}

.services_home-left {
  background-color: var(--color-black);
  display: inline-block;
}
.services_home-left::before {
  content: '';
  border-top: 2px solid var(--color-gray-darker);
  width: 29rem;
  display: block;
  margin-bottom: 1rem;
}

.services-btn {
  background-color: var(--color-black);
  width: 24rem;
  display: inline-block;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-white-darker);
  text-transform: uppercase;
  letter-spacing: 0.12em;
  border: 4px solid var(--color-white-darker);
  transition: all .5s ease-in;
}

.services-btn:hover {
  border: 4px solid var(--color-gray-darker);
  color: var(--color-gray-darker);
}

.services_home-rigth {
  background-color: var(--color-black);
}

.services_home-rigth::after {
  content: '';
  border-top: 2px solid var(--color-gray-darker);
  width: 29rem;
  display: block;
  margin-top: 1rem;

  position: relative;
  left: 370px;
}
.services_home-rigth p {
  background-color: var(--color-black);
  
  color: var(--color-white-darker);
  font-size: 3.6rem;
  letter-spacing: 0.21em;
  text-align: right;
}


/* CHAMADA PERFIL DA PROFISSIONAL: */
.professional_profile {
  margin: 12rem auto;

}
.professional_profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.professional_profile-img p {
  font-size: 3.2rem;
  font-weight: 700;
  margin-top: 2rem;
}

.professional_profile-text {
  width: 50%;
}

.professional_profile-text p{
  line-height: 3;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: right;
}